<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171834861504-7eatrji5i49i7nc4g071e2ctj3u226o6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171834861504-7eatrji5i49i7nc4g071e2ctj3u226o6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171834861504-6bjdqa2jairf9soo09lr943ilfk4auk9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpP7POvqHmwdbOkFvcusfour2JiUZcBsc</string>
	<key>GCM_SENDER_ID</key>
	<string>171834861504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.arabictesttwo</string>
	<key>PROJECT_ID</key>
	<string>arabicpracticetwo</string>
	<key>STORAGE_BUCKET</key>
	<string>arabicpracticetwo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171834861504:ios:633fda4fd12f8d22070a25</string>
</dict>
</plist>